<div id="chat-container">
    <div id="chat-header">
        <h4 >Web Chat Ecommerce</h4>
    </div>
    <div id="chat-messages">

        <div class="message sender">
            <div id="chat">Cargando mensajes...</div>
        </div>
    </div>
    <form id="formulario">
        <input type="text" name="mensaje" id="mensaje" placeholder="Ingrese su mensaje...">
        <button id="sendMessage"><i class="fas fa-paper-plane"></i> Enviar</button>
    </form>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>